{% extends "base.html" %}

{% block content %}
<h3>Select Your Favorite Genres:</h3>
<form method="POST">
  <label><input type="checkbox" name="interests" value="Action"> Action</label><br>
  <label><input type="checkbox" name="interests" value="RPG"> RPG</label><br>
  <label><input type="checkbox" name="interests" value="Idle"> Idle</label><br>
  <label><input type="checkbox" name="interests" value="Shooter"> Shooter</label><br>
  <label><input type="checkbox" name="interests" value="Strategy"> Strategy</label><br>
  <label><input type="checkbox" name="interests" value="Party"> Party</label><br>
  <button type="submit">Confirm</button>
</form>
{% endblock %}