{% extends "base.html" %}

{% block content %}
<h3>Select your consoles:</h3>
<label><input type="checkbox" name="interests" value="Steam"> Steam</label><br>
<label><input type="checkbox" name="interests" value="Xbox"> Xbox</label><br>
<label><input type="checkbox" name="interests" value="Nintendo Switch"> Nintendo Switch</label><br>
<label><input type="checkbox" name="interests" value="Playstation"> Playstation</label><br>
<label><input type="checkbox" name="interests" value="Oculus Quest"> Oculus Quest</label><br>
{% endblock %}